{% extends 'proyecto/base.html' %}
{% block content %}


<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Periodo</th>
      <th scope="col">Centro</th>
      <th scope="col">Docente</th>
      <th scope="col">Num. Sala</th>
    </tr>
  </thead>
  <tbody>
      {% for curso in cursos%}
    <tr>
        <td>{{curso.periodo}}</td>
        <td>{{curso.centro.nombre}}</td>
        <td>{{curso.docente.persona.nombres}} {{curso.docente.persona.apellidos}}</td>
        <td>{{curso.sala.num_sala}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
